@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
*{
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
}
body{
    background: whitesmoke;
    padding: 0;
    margin: 0;
}
.outer-container{
    position: relative;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#40a1ffd3,#ffffff );
}
.inner-container{
    position: relative;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    box-shadow: 2px 3px 10px black;
    /* height: 300px;
     */
     top: 30%;
     margin-left: 10%;
     background: linear-gradient(to top left , #95fff5b1, #ffffff);
    z-index: 2;
    
    
}
h1{
    font-size: 3rem;
}
p{
    color: #121523b9;
}
.circle{
    position: relative;
    display: inline-block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: linear-gradient(to top right,white,blue);
    filter: blur(1px);
    top: 10%;
}
.circle circle2{
    padding: 20px;
}
